<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ServiceBusConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" />
</appSettings>